.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height:fit-content;
    vertical-align:top;
}

.logo-containter {
    align-items: left;
    margin:0;
    padding:0;
}

.icon-container{
    align-items:right;
    margin:0;
    padding:0;
}

.logo {
    padding:0;
    margin:0;
}

.icon {
    padding:0;
    margin:0;
}