* {
  font-family: "Intel", sans-serif;
  --color-primary: #000000;
  --color-secondary: #808080;
  --color-third: #f0efef;
  --color-fourth: #808080ac;
  --color-accent: #000000;
  --color-background: #e3e3e370;
  --color-navy: #002e57;
  --color-checked: dodgerblue;

  /* Variety/Semantic Colors */
  --color-bg-white: #ffffff;
  --color-bg-black: #000000;
  /* This is the magic line */
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}