* {
  font-family: "Intel", sans-serif;
  --color-primary: #000000;
  --color-secondary: #808080;
  --color-third:#f0efef;
  --color-accent: #000000;
  --color-background:#e3e3e370;
  
  /* Variety/Semantic Colors */
  --color-bg-white: #ffffff;
  --color-bg-black:#000000;
  /* This is the magic line */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
